aliyun-python-sdk-core==2.13.35
aliyun-python-sdk-kms==2.15.0
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.4
click==8.0.1
crcmod==1.7
cryptography==3.4.7
future==0.18.2
idna==3.2
importlib-metadata==4.6.3
jmespath==0.10.0
numpy==1.21.1
Pillow==8.3.1
pycparser==2.20
pycryptodome==3.10.1
six==1.16.0
torch==1.5.0
torchvision==0.6.0
typing-extensions==3.10.0.0
urllib3==1.26.6
zipp==3.5.0
